In [37]:
import pickle as pk
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [31]:
FileName = r"C:\Users\Praveen\Desktop\ML\Projects\Stock Price Predicting\LinearRegressionModel.sav"
FileName2 = r"C:\Users\Praveen\Desktop\ML\Projects\Stock Price Predicting\df_scaled.sav"

In [32]:
load_mode1 = pk.load(open(FileName, 'rb'))
load_mode2 = pk.load(open(FileName2, 'rb'))

In [33]:
column_names = ['Open', 'High', 'Low', 'Volume', 'year', 'month', 'day', 'dayofweek']
values = [-0.603058, -0.603105, -0.603718, -0.218631, 2001, 3, 12, 0]

# Create a dictionary with column names as keys and a list of values as the value
data = {column: [value] for column, value in zip(column_names, values)}

# Create the DataFrame
X_test = pd.DataFrame(data)

X_test

       Open      High       Low    Volume  year  month  day  dayofweek
0 -0.603058 -0.603105 -0.603718 -0.218631  2001      3   12          0

In [34]:
y_pred = load_mode1.predict(X_test)

print(y_pred)
X_test['Close'] = y_pred
X_test

[-0.60384786]

,Open,High,Low,Volume,year,month,day,dayofweek,Close
0,-0.603058,-0.603105,-0.603718,-0.218631,2001,3,12,0,-0.603848

In [38]:
# Correct column selection
cols = ['Open', 'High', 'Low', 'Volume', 'Close']

# Inverse transform
y_pred_original = load_mode2.inverse_transform(X_test[cols].values)

# Convert back to DataFrame for readability
y_pred_original = pd.DataFrame(y_pred_original, columns=cols, index=X_test.index)

# Show results
y_pred_original.head()

AttributeError: 'DataFrame' object has no attribute 'inverse_transform'